@import 'sub1.scss';
@import 'sub2.scss';

.eee{
  width: 200px;
  height: 50px;
  background-color: blue;
  margin :20px;
}
.fff{
  width: 200px;
  height: 50px;
  background-color: purple;
  margin :20px;
}