<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과출력</title>
</head>

<style>

</style>
<body>
    <table border="">
        <tr align="center" height="10px">
            <td>수험번호</td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td></td>
        </tr>
        <tr>
            <td>점수</td>
            <td></td>
        </tr>
        <tr>
            <td>합격여부</td>
            <td></td>
        </tr>
        <tr>
            <td>응시과목</td>
            <td></td>
        </tr>
        <tr>
            <td>과목갯수</td>
            <td></td>
        </tr>
        <tr>
            <td>시험일</td>
            <td></td>
        </tr>
    </table>
</body>
</html>