<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qwer 이지롱</title>
    <link rel = 'stylesheet' href="/fff/css/ccc.css">
    <style>
        img {
            width: 200px;
        }
    </style>
</head>
<body>
    <h1>qwer 이지롱</h1>
    <img src="/fff/qqq/family9.jpg" alt="">
    <img src="../../qqq/family11.jpg" alt="">



    <hr>
    <img src="/public/sma1101.png" alt="">
    <img src="/assets/sma1102.png" alt="">
    <!-- 
    /public/sma1101.jpg - 불가
    /assets/sma1101.jpg - 가능
    -->
    <hr>
    <img src="/public/sma1103.png" alt="">
    <img src="/public/sma1104.png" alt="">
        /public /sma1101
</body>
</html>