* {
    padding: 0px;
    margin: 0px;
}

img {
    width: 160px;
    height: 180px;
    border: 1px solid black;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 700px;
    font-size: 0;
}
